export(mr_bootstrap)
export(mr_capabilities)
export(mr_collinearity)
export(mr_compare)
export(mr_diagnose)
export(mr_effects)
export(mr_example_data)
export(mr_fit)
export(mr_importance)
export(mr_inference)
export(mr_influence)
export(mr_kernel)
export(mr_quantile)
export(mr_recommend)
export(mr_regularize)
export(mr_report)
export(mr_select)
export(mr_validate)
importFrom(stats,predict)
S3method(coef,mr_fit)
S3method(plot,mr_fit)
S3method(predict,mr_fit)
S3method(print,mr_fit)
S3method(print,mr_kernel)
S3method(print,mr_quantile)
S3method(print,mr_regularization)
S3method(print,mr_selection)
S3method(summary,mr_fit)
